<!DOCTYPE html>

<html lang="en">
<head>
<title>Tracerchain</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<%- include ('./partials/header') %>

</head>

<body><%- include ('./partials/navigation') %></body>
