<!DOCTYPE html>

<html lang="en">
<head>
<title>Tracerchain</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<%- include ('./partials/header') %>
</head>

<body>
	<main class="flex-shrink-0">
	<div class="container">
		    <h1 class="mt-5">New Register</h1>

	<%- include ('./partials/form') %>
	</div>
	</main>
	</body>
</html>
